[Desktop Entry]
Type=Application
Name=Install Quantd Linux
GenericName=System Installer
Comment=Install Quantd Linux to your computer
Exec=calamares
Icon=calamares
Terminal=false
Categories=System;Installer;